#background{
    background-color: rgb(255, 255, 255);
}
.text-title {
    color: rgb(38, 45, 77);
}

p.name{
    font-size: 20px;
    color: #0f1216
}
.img-size {
    width:30px;
    height:30px;
    float:right;   
    position: relative;
}
.btn-secondary{
    float:right;
    margin: 2px;
}
.btn-danger{
    float:right;
    margin: 2px;
}
.col-md {
    background-color: aliceblue;
}
.col {
    background-color: aliceblue;
}