#background{
    background-color: rgb(165, 144, 144);
}
.text-title {
    color: rgb(38, 45, 77);
}

p.name{
    font-size: 20px;
    color: #0f1216
}
a.link {
    font-size: 20px;
    text-decoration: none;
}
a.link ::before {
    color:rgb(34, 0, 126);
    
}
a.link {
    color: #110041;
}