{% extends 'base.html' %}
{% load static %}
{% block title %}Excluir cliente{% endblock %}
{% block content %}

    <h2>Você desejá realmente deletar o registro de {{person.first_name}}?</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-danger" type="submit">Deletar</button>
    </form>
{% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Criado por Crys</span>
        </div>
    </footer>
{% endblock %}